body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #080808;
}

canvas {
  background: #bad4e8;
  image-rendering: crisp-edges;
}
